.page {
  margin-inline: max(0px, ((100% - 64rem)/2));
}
.center {
  align-items: center;
  justify-items: center;
  place-items: center;
}
.col,
.row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.col,
.col\:row {
  flex-direction: column;
}
.col\:row {
  display: flex;
}
@media (orientation: landscape) {
  .row\:landscape {
    display: flex;
  }
  .col\:row {
    flex-direction: row;
  }
  .align-items-center\:landscape {
    align-items: center;
  }
}
.row\:col {
  --min-content-width: 20rem;
  display: flex;
  flex-wrap: wrap;
}
.row\:col > * {
  flex: 1 1 var(--min-content-width);
}
.sticky {
  position: sticky;
  top: 0;
}
.reorder\:top {
  order: -1 !important;
}
.fit\:width {
  width: fit-content;
}
.fit\:width\:min {
  min-width: 0;
}
.fit\:width\:max {
  width: max-content;
}
.fit\:height {
  height: fit-content;
}
.fit\:height\:min {
  min-height: 0;
}
@media (orientation: landscape) {
  .hide\:portrait {
    display: none !important;
  }
}
@media (orientation: portrait) {
  .reorder\:portrait {
    order: -1 !important;
  }
  .hide\:landscape {
    display: none !important;
  }
}
