.ring {
  outline: var(--border-width) solid var(--gray-200) !important;
  outline-offset: var(--border-width);

}

/* *:has(.ring) path {
  fill: var(--color-focus) !important;
} */

:is([data-theme=""]) {
  border-radius: var(--border-radius);
  padding: calc(var(--gap-1) * 0.4) var(--gap-1);
  border-color: rgba(0,0,0,0)!important;
  font-weight:600!important;
  background-color:var(--gray-700);
  transition: all 200ms ease;
}

:is([data-theme=""] polygon) {
  fill:currentColor;
}

:is([data-theme=""]):hover {
  background-color:var(--gray-600);
}

/* Buttons will grow/shrink  */
:is(button[data-theme=""]):hover {
  transform: scale(1.02);
}
:is(button[data-theme=""]):active {
  background-color:var(--gray-500);
  color:var(--gray-800);
  transform: scale(.97);
}

:is([data-theme=""].accent) {
  color: var(--white-100);
  background-color: var(--color-focus);
  fill: var(--color-focus);
  stroke-color: var(--color-focus);
  outline: var(--border-width) solid var(--color-focus) !important;
}

:is([data-theme=""].accent:hover,[data-theme=""].accent:active) {
  color: var(--white-100);
  background-color: var(--color-focus);
}

:is([data-theme=""].accent polygon) {
  fill: var(--color-focus);
}

:is([data-theme=""].invalid) {
  color: var(--white-100);
  background-color: var(--color-invalid);
  fill: var(--color-invalid);
  stroke-color: var(--color-invalid);
  outline: var(--border-width) solid var(--color-invalid) !important;
}

:is([data-theme=""].invalid:hover,[data-theme=""].invalid:active) {
  color: var(--white-100);
  background-color: var(--color-invalid);
}

:is([data-theme=""].accent polygon) {
  fill: var(--color-invalid);
}

[data-units~="size:sm"] {
  --units-size: 3rem;
}

[data-units~="size:md"] {
  --units-size: 4rem;
}

[data-units~="size:lg"] {
  --units-size: 5rem;
}
