/*
  Tames the platform and sets some 
  default styles:
    - reset & normalize
    - a
    - button
    - input (text|search)
    - textarea 
    - (prefers mq...)
*/

*,
:after,
:before {
  box-sizing: border-box;
  color: currentColor;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  line-height: 1.4;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  block-size: 100%;
  inline-size: 100%;
}
@supports (scrollbar-gutter: stable) {
  body {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}

a {
  hyphens: none;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.09em;
  outline: none;
}

a:is(:visited, :hover) {
  touch-action: manipulation;
}

a[target='_blank']:after {
  content: 'external link';
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
}

:is(a, button) {
  cursor: pointer;
}

:is(button, input[type='search'], input[type='text'], textarea, select) {
  appearance: none;
  -webkit-appearance: none;
  font: inherit;
  outline: var(--border);
  box-shadow: var(--shadow);
  padding: calc(var(--gap-1) * 0.4) var(--gap-1);
  border-color: var(--transparent);
}

:is(button, input[type='search'], input[type='text']) {
  display: inline-flex;
  letter-spacing: 0.02em;
}

/* :is(input[type="search"], input[type="text"]) {
  font-size: max(16px, 1rem);
} */

:is(
    button,
    input[type='search'],
    input[type='text'],
    textarea,
    select
  ):disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

button {
  background-color: var(--white-100);
  border-radius: var(--border-radius);
  transition:background-color 300ms ease-in-out;
  width: fit-content;
}

button:hover {
  background-color: var(--white-200);
}

button:active {
  background-color: var(--gray-300);
}

label {
  display: flex;
}

label + input[type='search'],
label + input[type='text'] {
  margin: var(--gap-1) 0;
}

input[type='search'] {
  border-radius: 2em;
}

:is(input[type='search'], input[type='text']):focus {
  background-color: var(--white-100);
  outline: var(--border-width) solid var(--color-focus) !important;
  box-shadow: var(--shadow);
}

:is(button, input[type='search'], input[type='text']):focus-visible {
  outline: var(--border-width) solid var(--color-focus) !important;
}

:is(input[type='search'], input[type='text']):invalid {
  outline: var(--border-width) solid var(--color-invalid);
}

:is(
    input[type='search']::-webkit-search-cancel-button,
    input[type='search']::-webkit-search-decoration
  ) {
  -webkit-appearance: none;
  margin-right: var(--gap-1);
}

:is(
    input[type='search']:focus::-webkit-input-placeholder,
    input[type='search']:focus::-moz-placeholder,
    input[type='search']:focus::-ms-input-placeholder,

  ) {
  color: var(--gray-300);
}

:is(
    input[type='search']:disabled::-webkit-input-placeholder,
    input[type='search']:disabled::-moz-placeholder,
    input[type='search']:disabled:-ms-input-placeholder,
    input[type='text']:disabled::-webkit-input-placeholder,
    input[type='text']:disabled::-moz-placeholder,
    input[type='text']:disabled:-ms-input-placeholder
  ) {
  color: var(--gray-100);
}

:is(input[type='text']::-webkit-autofill) {
}

textarea {
  font-size: max(16px, 1rem);
  line-height: 1.4;
  min-height: var(--comfy-height);
  min-width: 0;
  display: flex;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  resize: vertical;
}

fieldset {
  border-color: var(--transparent);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-delay: -1ms;
    animation-duration: 1ms;
    animation-iteration-count: 1;
    background-attachment: initial;
    scroll-behavior: auto;
    transition-delay: 0s;
    transition-duration: 0s;
  }
}

@media (prefers-reduced-data: no-preference) {
  /* user does not prefers to reduce data so go wild*/
}
