.root {
  display: grid;
  grid-template-areas: 'stack';
  place-items: center;
}
.root.stretch {
  width: 100%;
}
.root.start {
  place-items: start;
}
.root.end {
  place-items: end;
}
.root > * {
  grid-area: stack;
}

.root > *:first-child {
  position: relative;
}

.root > *[aria-hidden='true'] {
  visibility: hidden !important;
}
