.group {
  max-width: max-content;
}

.checkbox {
  accent-color: var(--gray-100);
  color: currentColor;
  height: 2.2em;
  width: 2.2em;
  border: var(--border-width) solid currentColor;
  background-color: var(--transparent);
  border-radius: inherit;
  aspect-ratio: 1;
}

.group svg {
  pointer-events: none;
}
