.group {
  position: relative;
  width: fit-content;
}

:is(.group input[type='search'], .group input[type='text'], textarea) {
  box-shadow: var(--shadow);
  padding: calc(var(--gap-1) * 0.4) var(--gap-1);
  border: var(--border);
  border-radius: var(--border-radius);
  max-width: 100%;
}

:is(.group input[type='search'], .group input[type='text'], textarea):focus {
  box-shadow: var(--shadow-focus);
}

:is(
    .group input[type='search']::-webkit-search-cancel-button,
    .group input[type='search']::-webkit-search-decoration
  ) {
  -webkit-appearance: none;
  margin-right: var(--gap-1);
}

:is(
    .group input[type='search']:focus::-webkit-input-placeholder,
    .group input[type='search']:focus::-moz-placeholder,
    .group input[type='search']:focus::-ms-input-placeholder,

  ) {
  color: var(--gray-300);
}

:is(
    .group input[type='search']:disabled::-webkit-input-placeholder,
    .group input[type='search']:disabled::-moz-placeholder,
    .group input[type='search']:disabled:-ms-input-placeholder,
    .group input[type='text']:disabled::-webkit-input-placeholder,
    .group input[type='text']:disabled::-moz-placeholder,
    .group input[type='text']:disabled:-ms-input-placeholder
  ) {
  color: var(--gray-100);
}

:is(.group input[type='text']::-webkit-autofill) {
}
.group input:autofill {
}
.group input:placeholder-shown {
}
.group input:focus-visible {
}

.group input[type='search'] {
  border-radius: 2em;
  /*
  font-size: max(16px, 1rem);
*/
}

.clear {
  transform: translate(-2em, 0.1em) scale(0.8);
}
.clear:hover {
  transform: translate(-2em, 0.1em) scale(0.8) !important;
}

.textarea {
  font-size: max(16px, 1rem);
  line-height: 1.4;
  min-height: var(--comfy-height);
  min-width: 0;
  display: flex;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  resize: vertical;
}
