.nav {
  width: 100%;
  display: flex;
  gap: var(--gap-3);
  padding: var(--gap-3);
  background-color: var(--color-grey);
  color: var(--color-white);
}

.nav > input[type='search'] {
  margin-left: auto;
  color: var(--color-black);
}
