.nav {
  width: 100%;
  display: flex;
  gap: var(--gap-3);
  padding: var(--gap-3);
  background-color: var(--gray-800);
}

.nav > input[type='search'] {
  margin-left: auto;
  color: var(--gray-100);
}
