@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./assets/BrandonGrotesque-Black.woff2') format('woff2'),
    url('./assets/BrandonGrotesque-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

body {
  background-color: var(--white-200);
  color: var(--gray-100);
}

.pair-shortened {
  width: 80px;
  resize: horizontal;
}
.pair-last {
  background-color: var(--gray-400);
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

.accent {
  color: var(--white-100);
  background-color: var(--color-focus);
  fill: var(--color-focus);
  stroke-color: var(--color-focus);
  outline: var(--border-width) solid var(--color-focus) !important;
}

.accent:hover,
.accent:active {
  color: var(--white-100);
  background-color: var(--color-focus);
}

.invalid {
  color: var(--white-100);
  background-color: var(--color-invalid);
  fill: var(--color-invalid);
  stroke-color: var(--color-invalid);
  outline: var(--border-width) solid var(--color-invalid) !important;
}

.invalid:hover,
.invalid:active {
  color: var(--white-100);
  background-color: var(--color-invalid);
}

.dimmed {
  background-color: var(--gray-500);
}

main + footer {
  background-color: var(--color-300);
  padding: var(--gap-2) var(--gap-3);
}

main + footer nav {
  margin-left: auto;
}

main + footer button {
  color: var(--color-focus);
}
